<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.user.mapper.FavoriteForPostMapper">

    <select id="getFavoriteForPostStatus" resultType="cc.backend.enums.FavoriteStatus">
        SELECT favorite_status
        FROM favorite_for_post
        WHERE user_id = #{userId} AND post_id = #{postId}
    </select>

    <update id="updateFavoriteStatus" parameterType="favoriteForPost">
        UPDATE favorite_for_post
        SET favorite_status = #{favoriteStatus} , timestamp = #{timestamp}
        WHERE user_id = #{userId} AND post_id = #{postId}
    </update>

    <select id="selectAllByUserId" resultType="favoriteForPost">
        SELECT
            ffp.*,
            p.post_title AS postTitle,
            p.created_at AS createdAt
        FROM
            favorite_for_post ffp
                LEFT JOIN
            post p ON ffp.post_id = p.post_id
        WHERE ffp.user_id = #{userId}
          AND ffp.favorite_status = #{favoriteStatus}
          AND ffp.favorite_post_status = #{postStatus}
        ORDER BY ffp.timestamp DESC
    </select>

</mapper>