<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.user.mapper.IndexArticleMapper">
    <select id="getAllByArticleTitle" resultMap="articleResultMap" parameterType="map">
        SELECT
            ar.article_id,
            ar.article_title,
            ar.article_content,
            ar.created_id,
            u_created.nick_name as created_by,
            ar.created_time,
            ar.view_count,
            ar.topic_id,
            tfa.topic_name as topic_name
        FROM
            article ar
        LEFT JOIN
            user u_created ON ar.created_id = u_created.id
        LEFT JOIN
            topic_for_article tfa ON ar.topic_id = tfa.topic_id
        <where>
            <if test="articleTitle != null and articleTitle != ''">
                AND ar.article_title LIKE CONCAT('%', #{articleTitle}, '%')
            </if>
        </where>
        ORDER BY ar.created_time DESC
    </select>

    <select id="selectHotArticle" resultType="article">
        SELECT
        ar.article_id,
        ar.article_title,
        ar.article_content,
        ar.created_id,
        u_created.nick_name as created_by,
        ar.created_time,
        ar.view_count
        FROM
        article ar
        LEFT JOIN
        user u_created ON ar.created_id = u_created.id
        <where>
            ar.article_status = 'PUBLIC'
        </where>
        ORDER BY (ar.view_count) DESC
            LIMIT 5;
    </select>

    <select id="getOneByArticleIdArticle" resultMap="oneArticleResultMap" >
        SELECT
            ar.article_id,
            ar.article_title,
            ar.article_content,
            ar.created_id,
            u_created.nick_name as created_by,
            ar.created_time,
            ar.updated_id,
            ar.updated_time,
            u_updated.nick_name as updated_by,
            ar.view_count,
            ar.topic_id,
            tfa.topic_name as topic_name
        FROM
            article ar
        LEFT JOIN
            user u_created ON ar.created_id = u_created.id
        LEFT JOIN
            user u_updated ON ar.updated_id = u_updated.id
        LEFT JOIN
            topic_for_article tfa ON ar.topic_id = tfa.topic_id
        WHERE
            ar.article_id = #{articleId}
    </select>

<!--    <update id="updateArticle" parameterType="article">-->
<!--        UPDATE article-->
<!--        SET-->
<!--            updated_id = #{updatedId},-->
<!--            updated_time = #{updatedTime},-->
<!--            article_title = #{articleTitle},-->
<!--            article_content = #{articleContent}-->
<!--        WHERE-->
<!--            article_id = #{articleId}-->
<!--    </update>-->

    <resultMap id="articleResultMap" type="Article">
        <id property="articleId" column="article_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="createdId" column="created_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="viewCount" column="view_count"/>
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
    </resultMap>

    <resultMap id="oneArticleResultMap" type="Article">
        <id property="articleId" column="article_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="createdId" column="created_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedId" column="updated_id"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="viewCount" column="view_count"/>
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
    </resultMap>

</mapper>