<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.user.mapper.PostMapper">
    <select id="selectAllPost" resultMap="postResultMap" parameterType="java.util.Map">
        SELECT
        po.post_id,
        po.post_title,
        po.post_content,
        po.user_id,
        tfp.topic_name as topic_name,
        u.nick_name as nick_name,
        po.created_at,
        po.view_count,
        po.like_count,
        po.dislike_count,
        po.comment_count
        FROM
        post po
        LEFT JOIN
        user u ON po.user_id = u.id
        LEFT JOIN
        topic_for_post tfp ON po.topic_id = tfp.topic_id
        <where>
        po.post_visibility = #{postVisibility}
        AND po.post_status = #{postStatus}
        <if test="postMsg != null and postMsg != ''">
            AND (
                po.post_title LIKE CONCAT('%', #{postMsg}, '%')
                OR po.post_content LIKE CONCAT('%', #{postMsg}, '%')
            )
        </if>
        <if test="topicId != null and topicId != '' and topicId != 0">
            <trim prefix="AND">
                po.topic_id = #{topicId}
            </trim>
        </if>
        </where>
        ORDER BY po.created_at DESC
    </select>

    <select id="getAllPostByTopicId" resultType="post">
        SELECT
        po.post_id,
        po.post_title,
        po.post_content,
        po.user_id,
        po.topic_id,
        tfp.topic_name as topic_name,
        po.created_at,
        u.nick_name as nick_name,
        po.view_count,
        po.like_count,
        po.dislike_count,
        po.comment_count
        FROM
        post po
        LEFT JOIN
        user u ON po.user_id = u.id
        LEFT JOIN
        topic_for_post tfp ON po.topic_id = tfp.topic_id
        <where>
            po.post_visibility = #{postVisibility}
            AND po.post_status = #{postStatus}
            <if test="postTitle != null and postTitle != ''">
                po.post_title LIKE CONCAT('%', #{postTitle}, '%')
            </if>
            <if test="topicId != null and topicId != ''">
                po.topic_id LIKE CONCAT('%', #{topicId}, '%')
            </if>
        </where>
        ORDER BY po.comment_count DESC, po.created_at DESC
    </select>

    <select id="getPostByPostId" resultMap="postResultMap">
        SELECT
            po.post_id,
            po.topic_id,
            tfp.topic_name as topic_name,
            po.post_title,
            po.post_content,
            po.user_id,
            u.nick_name as nick_name,
            po.created_at,
            po.view_count,
            po.like_count,
            po.dislike_count,
            po.comment_count
        FROM
            post po
                LEFT JOIN
            user u ON po.user_id = u.id
                LEFT JOIN
            topic_for_post tfp ON po.topic_id = tfp.topic_id
        WHERE
            po.post_id = #{postId}
    </select>


    <!--返回查询的数据类型-->
    <resultMap id="postResultMap" type="Post">
        <id property="postId" column="post_id"/>
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="dislikeCount" column="dislike_count"/>
        <result property="commentCount" column="comment_count"/>
    </resultMap>
</mapper>