<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.user.mapper.PostMapper">
    <select id="selectAllPost" resultMap="postResultMap" parameterType="java.util.Map">
        SELECT
            po.post_id,
            po.post_title,
            po.post_content,
            po.user_id,
            tfp.topic_name as topic_name,
            u.user_name as user_name,
            po.created_at,
            po.view_count
        FROM
            post po
        LEFT JOIN
            user u ON po.user_id = u.id
        LEFT JOIN
            topic_for_post tfp ON po.topic_id = tfp.topic_id
        <where>
            <if test="postMsg != null and postMsg != ''">
                AND (
                    po.post_title LIKE CONCAT('%', #{postMsg}, '%')
                    OR po.post_content LIKE CONCAT('%', #{postMsg}, '%')
                )
            </if>
        </where>
    </select>
<!--返回查询的数据类型-->
    <resultMap id="postResultMap" type="Post">
        <id property="postId" column="post_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContent" column="post_content"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="postVisibility" column="post_visibility"/>
        <result property="viewCount" column="view_count"/>
    </resultMap>
</mapper>