<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.manager.mapper.ArticlesMapper">
    <select id="selectAllArticle" resultMap="articleResultMap" parameterType="map">
        SELECT
            ar.article_id,
            ar.article_title,
            ar.article_content,
            ar.created_id,
            u_created.nick_name as created_by,
            ar.created_time,
            ar.updated_id,
            ar.updated_time,
            u_updated.nick_name as updated_by,
            ar.topic_id,
            tfa.topic_name as topic_name,
            tfa.topic_color as topic_color,
            ar.view_count,
            ar.article_status
        FROM
            article ar
        LEFT JOIN
            user u_created ON ar.created_id = u_created.id
        LEFT JOIN
            user u_updated ON ar.updated_id = u_updated.id
        LEFT JOIN
            topic_for_article tfa ON ar.topic_id = tfa.topic_id
        <where>
            <if test="articleTitle != null and articleTitle != ''">
                AND ar.article_title LIKE CONCAT('%', #{articleTitle}, '%')
            </if>
            <if test="articleContent != null and articleContent != ''">
                AND ar.article_content LIKE CONCAT('%', #{articleContent}, '%')
            </if>
            <if test="userName != null and userName != ''">
                AND u_created.nick_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="startTime != null and endTime != null">
                AND ar.created_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY ar.created_time DESC
    </select>

    <select id="getOneByArticleId" resultMap="articleResultMap" >
        SELECT
            ar.article_id,
            ar.article_title,
            ar.article_content,
            ar.created_id,
            u_created.nick_name as created_by,
            ar.created_time,
            ar.updated_id,
            ar.updated_time,
            u_updated.nick_name as updated_by,
            ar.view_count,
            ar.topic_id,
            tfa.topic_name as topic_name,
            tfa.topic_color as topic_color
        FROM
            article ar
        LEFT JOIN
            user u_created ON ar.created_id = u_created.id
        LEFT JOIN
            user u_updated ON ar.updated_id = u_updated.id
        LEFT JOIN
            topic_for_article tfa ON ar.topic_id = tfa.topic_id
        WHERE
            ar.article_id = #{articleId}
        ORDER BY ar.created_time DESC
    </select>

    <update id="updateArticle" parameterType="article">
        UPDATE article
        SET
            updated_id = #{updatedId},
            updated_time = #{updatedTime},
            article_title = #{articleTitle},
            article_content = #{articleContent},
            topic_id = #{topicId}
        WHERE
            article_id = #{articleId}
    </update>

    <update id="updateArticleStatusByArticleId">
        UPDATE article
        SET
            article_status = #{articleStatus}
        WHERE
            article_id = #{articleId}
    </update>

    <resultMap id="articleResultMap" type="Article">
        <id property="articleId" column="article_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="createdId" column="created_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedId" column="updated_id"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="viewCount" column="view_count"/>
        <result property="topicId" column="topic_id"/>
        <result property="topicName" column="topic_name"/>
        <result property="topicColor" column="topic_color"/>
        <result property="articleStatus" column="article_status"/>
    </resultMap>
</mapper>