<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.manager.mapper.TopicForPostsMapper">
    <select id="selectTFP" resultType="topicForPost">
        SELECT
        tfp.topic_id,
        tfp.topic_name,
        tfp.created_id,
        u_created.nick_name as created_by,
        tfp.created_time,
        tfp.updated_id,
        u_updated.nick_name as updated_by,
        tfp.updated_time,
        tfp.topic_status
        FROM
        topic_for_post tfp
        LEFT JOIN
        user u_created ON tfp.created_id = u_created.id
        LEFT JOIN
        user u_updated ON tfp.updated_id = u_updated.id
        <where>
            <if test="topicName != null and topicName != ''">
                AND tfp.topic_name LIKE CONCAT('%', #{topicName}, '%')
            </if>
        </where>
        ORDER BY tfp.topic_id ASC
    </select>

    <update id="updateTFPStatus" parameterType="topicForPost">
        UPDATE
            topic_for_post
        SET
            topic_status = #{topicStatus},
            updated_id = #{updatedId},
            updated_time = #{updatedTime}
        WHERE
            topic_id = #{topicId}
    </update>

    <update id="updateTopicNameById" parameterType="topicForPost">
        UPDATE
            topic_for_post
        SET
            topic_name = #{topicName},
            updated_id = #{updatedId},
            updated_time = #{updatedTime}
        WHERE
            topic_id = #{topicId}
    </update>

    <resultMap id="postResultMap" type="TopicForPost">
        <id property="topicId" column="topicId"/>
        <result property="topicName" column="topic_name"/>
        <result property="createdId" column="created_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedId" column="user_name"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="topicStatus" column="topic_status"/>
    </resultMap>
</mapper>