<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.backend.manager.mapper.UsersMapper">
    <update id="updateUserStatus" parameterType="user">
        UPDATE user
        SET user_status = #{user_status}
        WHERE id = #{user_id}
    </update>
</mapper>